<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.insiro.lifepet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LifePet">
        <activity
            android:name=".PetDetail"
            android:exported="false" />
        <activity
            android:name=".ScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dataManager.DataManager" />
        <activity android:name=".authy.Auth" />
        <activity android:name=".authy.Register" />
        <activity android:name=".achievement.Achievement" />
        <activity android:name=".achievement.AdditionalAchievement" />
        <activity android:name=".pet.pet_info" />
        <activity android:name=".pet.pet_act" />
        <activity android:name=".Settings" />
        <activity android:name=".DashBoardActivity" />
    </application>

</manifest>